@media (max-width: 900px) {
  .heading {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
:root {
  --primary-color: #dce9c0;
  --secondary-color: #274a68;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Gravitas One", serif;
  --secondary-font: "Cutive Mono", monospace;
}
.heading,
h1,
h2,
.nav-link,
footer,
i,
.intro {
  position: relative;
  z-index: 10;
}
body {
  margin: 0px auto;
  max-width: 95%;
  font-family: var(--secondary-font);
  height: 10000px;
  background-color: rgb(102, 146, 177);
  background-image: linear-gradient(
    to bottom right,
    rgb(102, 146, 177),
    rgb(193, 219, 232)
  );
  overflow-x: hidden;
  color: var(--secondary-color);
}
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: 0px auto;
}

.clouds {
  width: 4000px;
  height: 100%;
  background: transparent
    url("file:///Users/DandA/Downloads/clouds-png-13370.png") no-repeat;
  background-size: 1700px 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
  animation: move-background 150s linear infinite;
}
.heading {
  margin-top: 350px;
  margin-bottom: 350px;
}
h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--primary-color);
}
h2 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  font-family: var(--primary-font);
  color: var(--primary-color);
}
.nav-link {
  color: #edf1f3;
  font-family: var(--secondary-font);
}
.nav-link:hover {
  color: var(--secondary-color);
}
footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top: 1px solid #edf1f3;
  flex: 1;
}

i {
  margin-top: 20px;
  padding: 15px;
  color: #edf1f3;
}
i:hover {
  color: var(--secondary-color);
}

.intro {
  margin: 100px 20px 0px 20px;
}
.img-profile {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 500px;
}
.porfolio-heading,
.work-heading {
  margin-top: 100px;
  margin-bottom: 100px;
}
h3 {
  font-size: 28px;
  font-family: var(--primary-font);
  text-align: left;
}
p {
  font-size: 20px;
}
.about {
  margin-top: 35px;
}
.porfolio-container {
  margin-bottom: 20px;
  display: block;
}
.work-container {
  margin-top: 100px;
}
